body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#e98a00, #f5aa2f); 
    p {
        color: rgba(10,10,10,0.5);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}